@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
  --bgblue: hsl(225, 100%, 94%);
  --Brinessblue: hsl(245, 75%, 52%);
  --bgcardblue: hsl(225, 100%, 98%);
  --grayblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background-color: var(--bgblue);
}

.img_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 4rem;
  background-image: url(../images/illustration-hero.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem 1rem 0 0;
  height: 170px;
  width: 330px;
}

.card_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 328px;
  height: 100%;
  padding-bottom: 1.4rem;
  margin-bottom: 2.9rem;
  border-radius: 0 0 1rem 1rem;
  background: white;
}

.hero_primary .title {
  font-weight: 900;
  color: var(--Darkblue);
  margin: 20px 0;
}

.text_p {
  font-weight: 500;
  font-size: 16px;
  color: var(--grayblue);
  margin-bottom: 30px;
}

.plan_cont {
  width: 100%;
  border-radius: 1rem;
}

.icono_music {
  margin-left: 20px;
}

.list {
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--bgcardblue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.2rem 0;
  border-radius: 1rem;
}

.text_plan {
  margin-left: -2rem;
  font-weight: 700;
}

.price {
  font-weight: 500;
  color: var(--grayblue);
}

.btn_change {
  margin-right: 0.7rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 16.5px;
  color: var(--Brinessblue);
}

.btn_pay {
  display: inline-block;
  background-color: var(--Brinessblue);
  text-align: center;
  font-weight: 700;
  padding: 1rem 0.3rem;
  border-radius: 0.7rem;
  margin-bottom: 2.5rem;
  -webkit-box-shadow: 0px 6px 10px #00000073;
  box-shadow: 0px 6px 10px #00000073;
}

.btn_pay .pay {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.btn_pay:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 8px 10px #00000086;
  box-shadow: 0px 8px 10px #00000086;
}

.cancel {
  color: var(--grayblue);
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

@media screen and (min-width: 1000px) {
  .img_p {
    width: 405px;
  }
  .card_cont {
    width: 405px;
    height: 100%;
    padding-bottom: 2.4rem;
  }
  .text_plan {
    margin-left: -5.3rem;
  }
  .btn_change {
    padding-right: 3rem;
    margin-left: -1.3rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 16.5px;
    color: var(--Brinessblue);
  }
  .list {
    font-size: 16px;
  }
  .title {
    font-size: 25px;
    font-weight: 900;
    color: var(--Darkblue);
    margin: 20px 0;
  }
  .text_p {
    font-size: 17.3px;
  }
}
